@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.step-container{
  font-family:'Montserrat', sans-serif!important;
    @media (max-width: 600px) {
        padding: 10px!important;
        overflow-x: scroll!important;
      }
}

.swal2-title,#swal2-html-container {
  font-family:'Montserrat', sans-serif;
}